fastapi==0.116.0
uvicorn==0.35.0
starlette==0.46.2
pydantic
pydantic_core
python-dotenv
python-multipart==0.0.20
Jinja2
itsdangerous
httpx
bcrypt==4.0.1
passlib==1.7.4
python-jose==3.5.0
SQLAlchemy
alembic==1.16.4
psycopg2-binary==2.9.10
aiofiles==24.1.0
aiohttp
pytest
anyio
